body {
    background: linear-gradient(270deg, #213031 0, #aebdbe 100%);
}

.container-fluid{
    padding-right: 12%;
    padding-left: 12%;
    box-sizing:border-box;
}


.img-ajustada {
    grid-area: image;
    width: 100%;
    height: 150px;
    object-fit: contain;
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    background-size: cover;
}

div.card.h-100 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    div.card.h-100:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    }



