body {
    background-image: linear-gradient(270deg, #163161 0, #4469ac 100%);
    
}



.container-fluid{
    padding-right: 12%;
    padding-left: 12%;
    box-sizing:border-box;
}

.btn-primary {
    color: #fff;
    background-color: #0f2e66;
    border-color: #0f2e66;
}

.input-group-text {
    background-color: #0f2e66;
    color: white;
    border: 3px solid #0f2e66;
}

.img-ajustada {
    grid-area: image;
    width: 100%;
    height: 150px;
    object-fit: contain;
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    background-size: cover;
}

.img-ajustada2 {
    width: 100%; /* Ocupa el 100% del ancho del contenedor padre */
    max-width: 300px; /* Tamaño máximo más grande */
    height: auto; /* Ajusta la altura automáticamente */
    aspect-ratio: 1 / 1; /* Mantiene la relación de aspecto 1:1 */
    object-fit: contain; /* Cubre todo el área sin distorsión */
    border-radius: 8px; /* Esquinas redondeadas opcionales */
}

div.card.h-100 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    div.card.h-100:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    }


.validation-error {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 5px;
}

.btn-favorito {
    font-size: 24px;
    color: gray; /* Color por defecto */
    border: none;
    background: transparent;
    transition: color 0.3s ease;
}

    .btn-favorito.favorito {
        color: #0f2e66; /* Cambia a azul si está en favoritos */
    }

    .btn-favorito:hover {
        color: red; /* Puedes agregar un efecto de hover si lo prefieres */
    }

