body {
    background: linear-gradient(270deg, #213031 0, #aebdbe 100%);
}

.container-fluid{
    padding-right: 8%;
    padding-left: 8%;
    box-sizing:border-box;
}


.img-ajustada {
    grid-area: image;
    width: 100%;
    height: 150px;
    object-fit: contain;
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    background-size: cover;
}
